.project
.classpath
.settings/
bin/
.gradle
.metadata
*~
.recommenders

.idea
*.iml
*.class
*.lst

*.versionsBackup

.vscode

*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

Servers/

target/

